html {
    font-family: Microsoft YaHei, STHeiti;
}
body{
    font-size: 12px !important;
}
.row.text-right{
    margin-right: 12px;
}
.dropdown-menu{
    font-size: 12px !important;
}

a:hover, a:focus {
    text-decoration: none;
}

.table {
    border: 1px solid #cccccc;
    font-size: 12px;
}

th {
    text-align: center;
    background-color: #0E618C;
    color: white;
    border-right: 1px solid #D4D3D1;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #F2F2F2;
    vertical-align: middle;
}

.table-title {
    font-size: 18px;
}

td.await {
    color: #00467C;
}

td.going {
    color: #E27800;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.table-time {
    margin-right: 20px;
}

.search-row {
    margin-bottom: 20px;
}

.time-row {
    margin-bottom: 10px;
}

select {
    background-color: #F2F2F2;
    padding: 3px 6px;
    height: 30px;
    border: none;
    margin-right: 10px;
    width: 150px;
    text-align: center;
}

#date, #hour, #hour1, #hour2, #date1, #date2, #startTime, #endTime {
    border: none;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 3px 6px;
    margin-right: 10px;
    width: 150px;
}

#date1, #date2 {
    margin: 0px 20px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #004B83;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #004B83;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #004B83;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #004B83;
}

.operation {
    color: #29ABE2;
    cursor: pointer;
    margin-right: 10px;
}

.operation:hover, .operation:focus {
    color: #29ABE2;
}

.operation > span {
    width: 18px;
    height: 18px;
}

.operation img, .add-operation img {
    width: 18px;
    height: 18px;
    position: relative;
    bottom: 4px;
}

.add-operation {
    color: #0E618C;
}

.btn-default, .btn-default:focus {
    background-color: #00608B;
    color: white;
    font-size: 12px;
    padding: 2px 25px;
    line-height: 22px;
    outline: none;
}

.btn-default:hover {
    background-color: #003E5A;
    color: white;
}
 #index { width:100%; height:100%; min-width:960px; margin-left:16px; padding:0px; background-color:transparent; position:relative; }

.vertical-table > tbody > tr > td {
    text-align: center;
    height: 43px;
}

.vertical-table > tbody > tr > td:first-child, .vertical-table > tbody > tr > td.table-th {
    text-align: center;
    background-color: #00608B;
    color: white;
    border-right: 1px solid #D4D3D1;
}

.table-input {
    width: 100%;
}

select.table-input {
    border: 1px solid #CCCCCC;
    background-color: white;
    border-radius: 0px;
}

.vertical-table-content {
    width: 65%;
}

.search-row > label {
    font-weight: normal;
    margin-right: 20px;
}

.alert {
    width: 400px;
    background-color: white;
    border: 1px solid #0E618C; 
    color: black;
    position: fixed;
    bottom: 0px;
    right: 20px;
}

.alert-title {
    font-size: 20px;
    line-height: 40px;
}

.alert-table {
    font-size: 18px;
    width: 350px;
    margin-bottom: 10px;
}

.alert-table > tbody > tr > td {
    word-wrap: break-word;
    word-break: normal;
    max-width: 350px;
}

.alert input {
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

.alert button {
    color: white;
    font-size: 12px;
    padding: 2px 25px;
    line-height: 22px;
    outline: none;
    border: none;
    margin-top: 15px;
}

.progress-table > tbody > tr > td {
    background-color: white;
    width: 5%;
}

.progress-table > tbody > tr > td:first-child {
    width: 15%;
    min-width: 100px;
}

.progress-table > tbody > tr > td.green {
    background-color: #A6CE94;
}

.progress-table > tbody > tr > td.yellow {
    background-color: #FFD971;
}

.progress-table > tbody > tr > td.red {
    background-color: #FF081C;
}

.progress-table a {
    color: black;
}



.page {
    list-style: none;
    font-size: 16px;
    float: right;
}

.page > li {
    float: left;
    margin-right: 10px;
}

.page > li.active, .page > li:hover {
    color: #0f2983;
}

.page > li.active {
    text-decoration: underline;
}

.vertical-table1 > tbody > tr > td:first-child {
    width: 30%;
}

.search-div {
    display: inline-block;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 4px;
    text-align: left;
    padding: 2px 4px;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

.search-div > img {
    width: 18px;
    height: 18px;
}

.search-div > input {
    border: none;
    outline: none;
}

.plan1-table a {
    color: white;
    text-decoration: underline;
}
.plan1-table > tbody >tr >td.green{
    background-color: #A6CE94;
}
.plan1-table > tbody >tr >td.yellow{
    background-color: #FFD971;
}
.plan1-table a:hover, .plan1-table a:focus{
    color: white;
    text-decoration: underline;
}

.left-input {
    float: left;
    width: 80%;
}

.operation > label {
    min-width: 60px;
    cursor: pointer;
}

.blue-tr td {
    background-color: #0E618C!important;
    color: white;
}

textarea.table-input {
    resize: none;
    border: 1px solid #ccc;
}

.top {
    background-color: #D3D1C4;
    height: 60%;
}

.top p {
    color: #93908B;
    padding-top: 40%;
    font-size: 1.54em;
}

.top h1 {
    font-size: 6em;
    margin-top: 0;
    height: 100%;
}

.top h1:first-child {
    padding-top: 20%;
}

@media screen and (max-width: 769px) {
    .top p {
        padding-top: 0;
        text-align: center;
    }
}

.middle {
    background-color: #eff3e6;
    height: 5%;
}

.bottom {
    background-color: #8B8786;
    height: 35%;
    padding-top: 10%;
}

.bottom p{
    color: #D4D1CA;
    font-size: 1.5em;
}
.bottom a {
    color: #f5f2eb;
    text-decoration: underline;
    margin: 0 10px;
}

html, body.body404 {
    height: 100%;
    margin: 0;
    padding: 0;
}

.panel-right {
    margin-left: 5px;
}

.panel-right .panel-body {
    padding: 10px 0px;
}

.panel-right .row {
    margin: 10px 10px;
}

.panel-right label {
    width: 100px;
}

.panel-right select {
    background-color: white;
    border: 1px solid #ccc;
}

.panel-right p, .panel-right input, .panel-right select {
    width: 100px;
    display: inline-block;
    margin-right: 0px;
}

.panel-right button {
    width: 80px;
    padding: 2px;
    margin: 10px 0;
}

.panel-index .panel-body {
    height: 610px;
}

.panel-index .panel-section {
    background-color: #F2F2F2;
    margin-bottom: 20px;
    border-bottom: 4px white solid;
    padding: 0px 10px 10px 10px;
}

.panel-section-left {
    display: inline-block;
    width: 110px;
    float: left;
}

.clearboth {
    clear: both;
}

.panel-section.explain-row {
    border-bottom: none;
}

.panel-section.explain-row p {
    display: block;
    width: 100%;
}

.panel-section span {
    margin-right: 5px;
    color: #0E618C;
}

select.panel-select {
    width: 100%!important;
}

.mid-btn-row {
    margin-bottom: 15px;
    padding-left: 10px;
}

.panel-row-left {
    width: 50%;
    float: left;
    margin-top: 30px;
}

.panel-row-left span {
    color: #0E618C;
}

.button:hover{
    background-color: #003E5A;
}

td.man-green {
    color: green;
}

td.man-yellow {
    color: orange;
}

.authority-table img[src="images/yes.png"] {
    width: 20px;
    height: 20px;
}

.authority-table img[src="images/no.png"] {
    width: 17px;
    height: 17px;
}

#map {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/yuntai.png");
    background-size: cover;
}

#top-map, #bottom-map, #left-map, #right-map {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

#top-map {
    width: 60%;
    height: 25%;
    top: 0;
    left: 20%;
}

#bottom-map {
    width: 60%;
    height: 25%;
    bottom: 0;
    left: 20%;
}

#left-map {
    height: 60%;
    width: 25%;
    left: 0;
    top: 20%;
}

#right-map {
    height: 60%;
    width: 25%;
    right: 0;
    top: 20%;
}

#in-right { width:24%; height:90%; margin:0px; padding:0px; float:left; background-color:transparent;position:relative;min-width:249px;}

#full-screen .modal-body {
    height: 90%;
}

#full-screen video {
    height: 100%;
    width: 100%;
}

#full-screen .modal-header {
    border-bottom: none;
}

#alert .modal-header {
    border-bottom: none;
}

.map-search {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
}

.map-search input {
    padding-right: 30px;
    outline: none;
}

.map-search button {
    background: url(../images/search1.png);
    background-size: cover;
    border: none;
    outline: none;
    width: 18px;
    height: 18px;
    position: relative;
    right: 30px;
    top: 1px;
}



